.footer3 {
  position: absolute;
  top: 3075px;
  left: 0;
  background-color: var(--color-skyblue);
  width: 1440px;
  height: 598px;
}
.logo-3-icon3,
.logo-4-icon3 {
  position: absolute;
  top: 3252px;
  left: 1249.13px;
  width: 101.87px;
  height: 166.85px;
}
.logo-4-icon3 {
  top: 3262.49px;
  left: 1237px;
  width: 99.32px;
  height: 139.14px;
}
.get-to-know3 {
  margin: 0;
  text-decoration: underline;
  font-weight: 600;
}
.blank-line9 {
  margin: 0;
}
.get-to-know-container3,
.need-help-your-container3 {
  position: absolute;
  top: 3121px;
  left: 92px;
  text-align: center;
}
.need-help-your-container3 {
  top: 3119px;
  left: 429px;
  display: inline-block;
  width: 420px;
  height: 356px;
}
.contact-infotitiansorg-800-3-container3 {
  position: absolute;
  top: 3133px;
  left: 906px;
  text-align: center;
}
.clothes-child,
.clothes-item {
  position: absolute;
  top: 3512px;
  left: 0;
  width: 1440px;
  height: 11px;
}
.clothes-item {
  top: 3519px;
  background-color: var(--color-darkorange);
  height: 154px;
}
.conditions-of-useprivacy3 {
  text-decoration: underline;
}
.conditions-of-useprivacy-notic7 {
  margin-bottom: 0;
}
.conditions-of-useprivacy-notic6 {
  margin: 0;
  padding-left: var(--padding-29xl);
}
.conditions-of-useprivacy-container3 {
  position: absolute;
  top: 3543px;
  left: 182px;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
  text-align: center;
}
.clothes-child1,
.clothes-inner {
  position: absolute;
  top: 3182px;
  left: 424px;
  width: 5px;
  height: 226.02px;
}
.clothes-child1 {
  top: 3193px;
  left: 845px;
}
.whats-fresh-icon3 {
  position: absolute;
  top: 238px;
  left: 0;
  width: 1440px;
  height: 348px;
}
.just-in1 {
  position: absolute;
  top: 263px;
  left: 601px;
  font-size: var(--font-size-21xl);
  font-weight: 600;
}
.clothes-child2,
.clothes-child3,
.clothes-child4 {
  position: absolute;
  top: 233px;
  left: 0;
  width: 1440px;
  height: 5.29px;
}
.clothes-child3,
.clothes-child4 {
  top: 3070px;
}
.clothes-child4 {
  top: 1311px;
  left: 426px;
  width: 5px;
  height: 226.02px;
}
.clothes-child5,
.clothes-child6,
.clothes-child7,
.group-child22 {
  position: absolute;
  top: 722px;
  left: 450px;
  width: 5px;
  height: 226.02px;
}
.clothes-child6,
.clothes-child7,
.group-child22 {
  left: 990px;
}
.clothes-child7,
.group-child22 {
  top: 1344px;
  left: 970px;
}
.group-child22 {
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-100);
  width: 330px;
  height: 320px;
}
.group-child23,
.group-child24,
.group-child25,
.group-child27 {
  position: absolute;
  top: 511px;
  left: 0;
  background-color: var(--color-white);
  width: 330px;
  height: 320px;
}
.group-child24,
.group-child25,
.group-child27 {
  left: 967px;
}
.group-child25,
.group-child27 {
  top: 0;
  left: 483px;
  background-color: var(--color-gainsboro-100);
}
.group-child27 {
  left: 972px;
  background-color: var(--color-white);
}
.image-3-icon4 {
  position: absolute;
  top: 5px;
  left: 1002px;
  width: 276px;
  height: 309px;
  object-fit: cover;
}
.rectangle-parent1 {
  position: absolute;
  top: 673px;
  left: 44px;
  width: 1302px;
  height: 831px;
}
.girls-distressed-denim1,
.girls-peace-love {
  position: absolute;
  top: 1004px;
  left: 66px;
  display: inline-block;
  width: 360px;
}
.girls-distressed-denim1 {
  top: 1017px;
  left: 499px;
  width: 441px;
}
.boys-cool-in1,
.toddler-girls-uniform,
.toddler-girls-uniform1 {
  position: absolute;
  top: 1637px;
  left: 80px;
  display: inline-block;
  width: 278px;
}
.boys-cool-in1,
.toddler-girls-uniform1 {
  left: 537px;
  width: 356px;
}
.toddler-girls-uniform1 {
  top: 1650px;
  left: 1030px;
  font-family: var(--font-inter);
  width: 325px;
}
.girls-girl-graphic {
  position: absolute;
  top: 1039px;
  left: 1050px;
  display: inline-block;
  width: 314px;
}
.clothes-child8,
.image-1-icon1 {
  position: absolute;
  top: 1191px;
  left: 0;
  width: 1440px;
  height: 5.29px;
}
.image-1-icon1 {
  top: 673px;
  left: 44px;
  width: 330px;
  height: 324px;
  object-fit: cover;
}
.image-4-icon1,
.image-5-icon1,
.image-6-icon5 {
  position: absolute;
  top: 1268px;
  left: 80px;
  width: 242px;
  height: 311px;
  object-fit: cover;
}
.image-5-icon1,
.image-6-icon5 {
  top: 1289px;
  left: 1062px;
  width: 228px;
  height: 299px;
}
.image-6-icon5 {
  top: 664px;
  left: 525px;
  width: 334px;
  height: 347px;
}
.group-child28,
.group-child29,
.group-child30,
.group-child31,
.group-child33 {
  position: absolute;
  top: 10px;
  left: 0;
  background-color: var(--color-white);
  width: 330px;
  height: 320px;
}
.group-child29,
.group-child30,
.group-child31,
.group-child33 {
  top: 521px;
}
.group-child30,
.group-child31,
.group-child33 {
  left: 967px;
}
.group-child31,
.group-child33 {
  top: 10px;
  left: 483px;
  background-color: var(--color-gainsboro-100);
}
.group-child33 {
  left: 972px;
  background-color: var(--color-white);
}
.image-19-icon1,
.image-3-icon5,
.image-6-icon6 {
  position: absolute;
  top: 15px;
  left: 1002px;
  width: 276px;
  height: 309px;
  object-fit: cover;
}
.image-19-icon1,
.image-6-icon6 {
  top: 626px;
  left: 481px;
  width: 330px;
  height: 320px;
}
.image-19-icon1 {
  top: 0;
  left: 41px;
  width: 247px;
  height: 324px;
}
.clothes-child14,
.rectangle-parent2 {
  position: absolute;
  top: 663px;
  left: 44px;
  width: 1302px;
  height: 946px;
}
.clothes-child14 {
  top: 2531px;
  left: 427px;
  width: 5px;
  height: 226.02px;
}
.clothes-child15,
.clothes-child16,
.clothes-child17,
.image-23-icon {
  position: absolute;
  top: 1942px;
  left: 451px;
  width: 5px;
  height: 226.02px;
}
.clothes-child16,
.clothes-child17,
.image-23-icon {
  left: 991px;
}
.clothes-child17,
.image-23-icon {
  top: 2564px;
  left: 971px;
}
.image-23-icon {
  top: 562px;
  left: 24px;
  width: 278px;
  height: 364px;
  object-fit: cover;
}
.rectangle-parent3 {
  position: absolute;
  top: 1893px;
  left: 45px;
  width: 1302px;
  height: 926px;
}
.boys-camo-dino {
  position: absolute;
  top: 2224px;
  left: 67px;
  display: inline-block;
  width: 360px;
}
.boys-basketball-shorts,
.boys-football-player {
  position: absolute;
  top: 2227px;
  left: 500px;
  display: inline-block;
  width: 441px;
}
.boys-football-player {
  top: 2821px;
  left: 79px;
  width: 278px;
}
.girls-future-graphic,
.unisex-baby-and {
  position: absolute;
  top: 2839px;
  left: 465px;
  display: inline-block;
  width: 500px;
}
.girls-future-graphic {
  top: 2870px;
  left: 1031px;
  font-family: var(--font-inter);
  width: 329px;
}
.boys-basketball-shorts1 {
  position: absolute;
  top: 2227px;
  left: 1047px;
  display: inline-block;
  width: 354px;
}
.clothes-child18,
.image-11-icon1 {
  position: absolute;
  top: 2411px;
  left: 1px;
  width: 1439px;
  height: 5.29px;
}
.image-11-icon1 {
  top: 1893px;
  left: 45px;
  width: 330px;
  height: 324px;
  object-fit: cover;
}
.group-child38,
.group-child39,
.group-child40 {
  position: absolute;
  top: 29px;
  left: 0;
  background-color: var(--color-white);
  width: 330px;
  height: 320px;
}
.group-child39,
.group-child40 {
  top: 540px;
  left: 967px;
}
.group-child40 {
  top: 29px;
  left: 972px;
}
.image-20-icon1,
.image-21-icon {
  position: absolute;
  top: 39px;
  left: 24px;
  width: 297px;
  height: 299px;
  object-fit: cover;
}
.image-21-icon {
  top: 0;
  left: 509px;
  width: 272px;
  height: 349px;
}
.clothes-child24,
.rectangle-parent4 {
  position: absolute;
  top: 1864px;
  left: 45px;
  width: 1302px;
  height: 860px;
}
.clothes-child24 {
  top: 1829px;
  left: 1px;
  width: 1439px;
  height: 5.29px;
}
.image-22-icon,
.image-24-icon,
.image-25-icon {
  position: absolute;
  top: 1875px;
  left: 1084px;
  width: 247px;
  height: 324px;
  object-fit: cover;
}
.image-24-icon,
.image-25-icon {
  top: 2455px;
  left: 525px;
  width: 312px;
  height: 409px;
}
.image-25-icon {
  top: 2464px;
  left: 1047px;
  width: 286px;
  height: 375px;
}
.banner3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-skyblue);
  width: 1440px;
  height: 238px;
}
.serch-box-13,
.serch-box-23 {
  position: absolute;
  top: 59px;
  left: 576px;
  background-color: var(--color-white);
  width: 532px;
  height: 84px;
}
.serch-box-23 {
  top: 57px;
  left: 370px;
  background-color: var(--color-teal);
  width: 206px;
}
.menu-icon3 {
  position: absolute;
  top: 49px;
  left: 179px;
  width: 66px;
  height: 48px;
}
.shoping-chart-icon3 {
  position: absolute;
  top: 52px;
  left: 1233px;
  width: 106.58px;
  height: 78.41px;
  cursor: pointer;
}
.search3 {
  position: absolute;
  top: 75px;
  left: 414px;
}
.logo-1-icon3,
.logo-2-icon3 {
  position: absolute;
  top: 0;
  left: 12.13px;
  width: 101.87px;
  height: 166.85px;
}
.logo-1-icon3 {
  top: 10.49px;
  left: 0;
  width: 99.32px;
  height: 139.14px;
}
.banner-parent1,
.serch-box-1-parent1 {
  position: absolute;
  top: 42px;
  left: 25px;
  width: 1339.58px;
  height: 166.85px;
}
.banner-parent1 {
  top: -3px;
  left: 0;
  width: 1440px;
  height: 238px;
  color: var(--color-white);
  font-family: var(--font-noto-sans-sc);
}
.clothes {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 3673px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans);
}
