.footer2 {
  position: absolute;
  top: 3075px;
  left: 0;
  background-color: var(--color-skyblue);
  width: 1440px;
  height: 950px;
}
.logo-3-icon2,
.logo-4-icon2 {
  position: absolute;
  top: 3252px;
  left: 1249.13px;
  width: 101.87px;
  height: 166.85px;
}
.logo-4-icon2 {
  top: 3262.49px;
  left: 1237px;
  width: 99.32px;
  height: 139.14px;
}
.get-to-know2 {
  margin: 0;
  text-decoration: underline;
  font-weight: 600;
}
.blank-line6 {
  margin: 0;
}
.get-to-know-container2,
.need-help-your-container2 {
  position: absolute;
  top: 3121px;
  left: 92px;
  text-align: center;
}
.need-help-your-container2 {
  top: 3119px;
  left: 429px;
  display: inline-block;
  width: 420px;
  height: 356px;
}
.contact-infotitiansorg-800-3-container2 {
  position: absolute;
  top: 3133px;
  left: 906px;
  text-align: center;
}
.games-child,
.games-item {
  position: absolute;
  top: 3512px;
  left: 0;
  width: 1440px;
  height: 11px;
}
.games-item {
  top: 3519px;
  background-color: var(--color-darkorange);
  height: 154px;
}
.games-child1,
.games-inner {
  position: absolute;
  top: 3182px;
  left: 424px;
  width: 5px;
  height: 226.02px;
}
.games-child1 {
  top: 3193px;
  left: 845px;
}
.whats-fresh-icon2 {
  position: absolute;
  top: 238px;
  left: 0;
  width: 1440px;
  height: 348px;
}
.just-in {
  position: absolute;
  top: 263px;
  left: 601px;
  font-size: var(--font-size-21xl);
  font-weight: 600;
}
.games-child2,
.games-child3,
.games-child4 {
  position: absolute;
  top: 233px;
  left: 0;
  width: 1440px;
  height: 5.29px;
}
.games-child3,
.games-child4 {
  top: 3070px;
}
.games-child4 {
  top: 1311px;
  left: 426px;
  width: 5px;
  height: 226.02px;
}
.games-child5,
.games-child6,
.games-child7,
.group-child {
  position: absolute;
  top: 722px;
  left: 450px;
  width: 5px;
  height: 226.02px;
}
.games-child6,
.games-child7,
.group-child {
  left: 990px;
}
.games-child7,
.group-child {
  top: 1344px;
  left: 970px;
}
.group-child {
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-100);
  width: 330px;
  height: 320px;
}
.group-child1,
.group-child3,
.group-inner,
.group-item {
  position: absolute;
  top: 511px;
  left: 0;
  background-color: var(--color-white);
  width: 330px;
  height: 320px;
}
.group-child1,
.group-child3,
.group-inner {
  left: 967px;
}
.group-child1,
.group-child3 {
  top: 0;
  left: 483px;
  background-color: var(--color-gainsboro-100);
}
.group-child3 {
  left: 972px;
  background-color: var(--color-white);
}
.image-3-icon,
.image-6-icon {
  position: absolute;
  top: 5px;
  left: 1002px;
  width: 276px;
  height: 309px;
  object-fit: cover;
}
.image-6-icon {
  top: 606px;
  left: 480px;
  width: 330px;
  height: 320px;
}
.rectangle-parent {
  position: absolute;
  top: 673px;
  left: 44px;
  width: 1302px;
  height: 926px;
}
.fisher-price-retro-chatter1 {
  position: absolute;
  top: 1004px;
  left: 66px;
  display: inline-block;
  width: 302px;
}
.fisher-price-little-people,
.piece-train-set {
  position: absolute;
  top: 1007px;
  left: 499px;
  display: inline-block;
  width: 441px;
}
.piece-train-set {
  top: 1637px;
  left: 80px;
  width: 278px;
}
.vtech-sit-to-stand-learning {
  top: 1637px;
  left: 569px;
  width: 278px;
}
.piece-toy-tool,
.play-kitchen,
.vtech-sit-to-stand-learning {
  position: absolute;
  display: inline-block;
}
.play-kitchen {
  top: 1650px;
  left: 1030px;
  font-family: var(--font-inter);
  width: 325px;
}
.piece-toy-tool {
  top: 1039px;
  left: 1050px;
  width: 314px;
}
.games-child8 {
  position: absolute;
  top: 1191px;
  left: 0;
  width: 1440px;
  height: 5.29px;
}
.image-1-icon,
.image-4-icon,
.image-5-icon {
  position: absolute;
  top: 673px;
  left: 44px;
  width: 330px;
  height: 324px;
  object-fit: cover;
}
.image-4-icon,
.image-5-icon {
  top: 1268px;
  left: 80px;
  width: 242px;
  height: 311px;
}
.image-5-icon {
  top: 1289px;
  left: 1062px;
  width: 228px;
  height: 299px;
}
.group-child4 {
  position: absolute;
  top: 9px;
  left: 0;
  background-color: var(--color-gainsboro-100);
  width: 330px;
  height: 320px;
}
.group-child5,
.group-child6,
.group-child7,
.group-child9 {
  position: absolute;
  top: 520px;
  left: 0;
  background-color: var(--color-white);
  width: 330px;
  height: 320px;
}
.group-child6,
.group-child7,
.group-child9 {
  left: 967px;
}
.group-child7,
.group-child9 {
  top: 9px;
  left: 483px;
  background-color: var(--color-gainsboro-100);
}
.group-child9 {
  left: 972px;
  background-color: var(--color-white);
}
.image-3-icon1,
.image-6-icon2 {
  position: absolute;
  top: 0;
  left: 1002px;
  width: 319px;
  height: 323px;
  object-fit: cover;
}
.image-6-icon2 {
  top: 615px;
  left: 480px;
  width: 330px;
  height: 320px;
}
.rectangle-group {
  position: absolute;
  top: 664px;
  left: 44px;
  width: 1321px;
  height: 935px;
}
.image-10-icon,
.image-8-icon {
  position: absolute;
  top: 1268px;
  left: 80px;
  width: 295px;
  height: 331px;
  object-fit: cover;
}
.image-10-icon {
  top: 664px;
  left: 525px;
  width: 334px;
  height: 347px;
}
.games-child14 {
  position: absolute;
  top: 2531px;
  left: 427px;
  width: 5px;
  height: 226.02px;
}
.games-child15,
.games-child16,
.games-child17 {
  position: absolute;
  top: 1942px;
  left: 451px;
  width: 5px;
  height: 226.02px;
}
.games-child16,
.games-child17 {
  left: 991px;
}
.games-child17 {
  top: 2564px;
  left: 971px;
}
.rectangle-container {
  position: absolute;
  top: 1893px;
  left: 45px;
  width: 1302px;
  height: 926px;
}
.piece-shopping-basket {
  position: absolute;
  top: 2224px;
  left: 67px;
  display: inline-block;
  width: 302px;
}
.piece-pizza-set,
.play-tunnel-bluegreen {
  position: absolute;
  top: 2227px;
  left: 500px;
  display: inline-block;
  width: 441px;
}
.play-tunnel-bluegreen {
  top: 2857px;
  left: 81px;
  width: 278px;
}
.vtech-sit-to-stand-learning2 {
  top: 2857px;
  left: 570px;
  width: 278px;
}
.abacus-multicolor,
.childrens-tent,
.vtech-sit-to-stand-learning2 {
  position: absolute;
  display: inline-block;
}
.abacus-multicolor {
  top: 2870px;
  left: 1031px;
  font-family: var(--font-inter);
  width: 325px;
}
.childrens-tent {
  top: 2259px;
  left: 1051px;
  width: 314px;
}
.games-child18,
.image-11-icon {
  position: absolute;
  top: 2411px;
  left: 1px;
  width: 1439px;
  height: 5.29px;
}
.image-11-icon {
  top: 1893px;
  left: 45px;
  width: 330px;
  height: 324px;
  object-fit: cover;
}
.image-12-icon,
.image-13-icon,
.image-14-icon {
  position: absolute;
  top: 2488px;
  left: 81px;
  width: 242px;
  height: 311px;
  object-fit: cover;
}
.image-13-icon,
.image-14-icon {
  top: 2509px;
  left: 1063px;
  width: 228px;
  height: 299px;
}
.image-14-icon {
  top: 1884px;
  left: 526px;
  width: 334px;
  height: 347px;
}
.games-child24 {
  position: absolute;
  top: 1829px;
  left: 1px;
  width: 1439px;
  height: 5.29px;
}
.conditions-of-useprivacy2 {
  text-decoration: underline;
}
.conditions-of-useprivacy-notic5 {
  margin-bottom: 0;
}
.conditions-of-useprivacy-notic4 {
  margin: 0;
  padding-left: var(--padding-29xl);
}
.conditions-of-useprivacy-container2 {
  position: absolute;
  top: 3550px;
  left: 209px;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
  text-align: center;
}
.banner2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-skyblue);
  width: 1440px;
  height: 238px;
}
.serch-box-12,
.serch-box-22 {
  position: absolute;
  top: 59px;
  left: 576px;
  background-color: var(--color-white);
  width: 532px;
  height: 84px;
}
.serch-box-22 {
  top: 57px;
  left: 370px;
  background-color: var(--color-teal);
  width: 206px;
}
.menu-icon2 {
  position: absolute;
  top: 49px;
  left: 179px;
  width: 66px;
  height: 48px;
}
.shoping-chart-icon2 {
  position: absolute;
  top: 52px;
  left: 1233px;
  width: 106.58px;
  height: 78.41px;
  cursor: pointer;
}
.search2 {
  position: absolute;
  top: 75px;
  left: 414px;
}
.logo-1-icon2,
.logo-2-icon2 {
  position: absolute;
  top: 0;
  left: 12.13px;
  width: 101.87px;
  height: 166.85px;
}
.logo-1-icon2 {
  top: 10.49px;
  left: 0;
  width: 99.32px;
  height: 139.14px;
}
.serch-box-1-container {
  position: absolute;
  top: 42px;
  left: 25px;
  width: 1339.58px;
  height: 166.85px;
}
.banner-container {
  position: absolute;
  top: -3px;
  left: 0;
  width: 1440px;
  height: 238px;
  color: var(--color-white);
  font-family: var(--font-noto-sans-sc);
}
.games {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 3673px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans);
}
