.footer5 {
  position: absolute;
  top: 2053px;
  left: 0;
  background-color: var(--color-skyblue);
  width: 1440px;
  height: 598px;
}
.logo-3-icon5,
.logo-4-icon5 {
  position: absolute;
  top: 2230px;
  left: 1249.13px;
  width: 101.87px;
  height: 166.85px;
}
.logo-4-icon5 {
  top: 2240.49px;
  left: 1237px;
  width: 99.32px;
  height: 139.14px;
}
.get-to-know5 {
  margin: 0;
  text-decoration: underline;
  font-weight: 600;
}
.blank-line18 {
  margin: 0;
}
.get-to-know-container5,
.need-help-your-container5 {
  position: absolute;
  top: 2099px;
  left: 92px;
  text-align: center;
}
.need-help-your-container5 {
  top: 2097px;
  left: 429px;
  display: inline-block;
  width: 420px;
  height: 356px;
}
.contact-infotitiansorg-800-3-container5 {
  position: absolute;
  top: 2111px;
  left: 906px;
  text-align: center;
}
.home-page-child,
.home-page-item {
  position: absolute;
  top: 2490px;
  left: 0;
  width: 1440px;
  height: 11px;
}
.home-page-item {
  top: 2497px;
  background-color: var(--color-darkorange);
  height: 154px;
}
.conditions-of-useprivacy4 {
  text-decoration: underline;
}
.conditions-of-useprivacy-notic11 {
  margin-bottom: 0;
}
.conditions-of-useprivacy-notic10 {
  margin: 0;
  padding-left: var(--padding-29xl);
}
.conditions-of-useprivacy-container5 {
  position: absolute;
  top: 2526px;
  left: 180px;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
  text-align: center;
}
.home-page-child1,
.home-page-child2,
.home-page-inner {
  position: absolute;
  top: 2160px;
  left: 424px;
  width: 5px;
  height: 226.02px;
}
.home-page-child1,
.home-page-child2 {
  top: 1518px;
  left: 426px;
}
.home-page-child2 {
  top: 929px;
  left: 450px;
}
.home-page-child3,
.home-page-child4,
.home-page-child5 {
  position: absolute;
  top: 929px;
  left: 990px;
  width: 5px;
  height: 226.02px;
}
.home-page-child4,
.home-page-child5 {
  top: 1551px;
  left: 970px;
}
.home-page-child5 {
  top: 2171px;
  left: 845px;
}
.group-child41,
.group-child42,
.group-child43 {
  position: absolute;
  top: 118px;
  left: 6px;
  background-color: var(--color-gainsboro-100);
  width: 330px;
  height: 320px;
}
.group-child42,
.group-child43 {
  top: 629px;
  background-color: var(--color-white);
}
.group-child43 {
  left: 973px;
}
.group-child44 {
  display: none;
}
.group-child44,
.group-child45,
.group-child46 {
  position: absolute;
  top: 118px;
  left: 489px;
  background-color: var(--color-gainsboro-100);
  width: 330px;
  height: 320px;
}
.group-child46 {
  left: 978px;
  background-color: var(--color-white);
}
.just-in2,
.suggestions {
  position: absolute;
  top: 0;
  left: 6px;
  font-weight: 600;
}
.just-in2 {
  top: 664px;
  left: 0;
}
.image-3-icon7,
.image-6-icon7 {
  position: absolute;
  top: 123px;
  left: 1008px;
  width: 276px;
  height: 309px;
  object-fit: cover;
}
.image-6-icon7 {
  top: 724px;
  left: 486px;
  width: 330px;
  height: 320px;
}
.rectangle-parent5 {
  position: absolute;
  top: 762px;
  left: 38px;
  width: 1308px;
  height: 1044px;
}
.fisher-price-little-people2,
.fisher-price-retro-chatter3 {
  position: absolute;
  top: 1211px;
  left: 66px;
  display: inline-block;
  width: 302px;
}
.fisher-price-little-people2 {
  top: 1214px;
  left: 499px;
  width: 441px;
}
.toddler-girls-uniform4,
.toddler-girls-uniform5,
.vtech-sit-to-stand-learning4 {
  position: absolute;
  top: 1844px;
  left: 80px;
  display: inline-block;
  width: 278px;
}
.toddler-girls-uniform5,
.vtech-sit-to-stand-learning4 {
  left: 569px;
}
.toddler-girls-uniform5 {
  top: 1857px;
  left: 1030px;
  font-family: var(--font-inter);
  width: 325px;
}
.girls-girl-graphic2 {
  position: absolute;
  top: 1246px;
  left: 1050px;
  display: inline-block;
  width: 314px;
}
.home-page-child6,
.home-page-child7,
.home-page-child8 {
  position: absolute;
  top: 233px;
  left: 0;
  width: 1440px;
  height: 5.29px;
}
.home-page-child7,
.home-page-child8 {
  top: 2053px;
}
.home-page-child8 {
  top: 1398px;
}
.image-1-icon2,
.image-4-icon2,
.image-5-icon2 {
  position: absolute;
  top: 880px;
  left: 44px;
  width: 330px;
  height: 324px;
  object-fit: cover;
}
.image-4-icon2,
.image-5-icon2 {
  top: 1475px;
  left: 80px;
  width: 242px;
  height: 311px;
}
.image-5-icon2 {
  top: 1496px;
  left: 1062px;
  width: 228px;
  height: 299px;
}
.home-page-child9 {
  position: absolute;
  top: 238px;
  left: 0;
  background-color: var(--color-darkorange);
  width: 1440px;
  height: 143px;
}
.welcome-to-titan {
  position: absolute;
  top: 271px;
  left: 272px;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  width: 949px;
}
.whats-fresh-icon5 {
  position: absolute;
  top: 381px;
  left: 0;
  width: 1440px;
  height: 348px;
  object-fit: cover;
}
.whats-fresh1 {
  position: absolute;
  top: 456px;
  left: 574px;
  font-size: var(--font-size-45xl);
  font-weight: 600;
  color: var(--color-darkorange);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.image-12-icon1 {
  position: absolute;
  top: 868px;
  left: 524px;
  width: 334px;
  height: 347px;
  object-fit: cover;
}
.banner5 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-skyblue);
  width: 1440px;
  height: 235px;
}
.serch-box-15,
.serch-box-25 {
  position: absolute;
  top: 59px;
  left: 576px;
  background-color: var(--color-white);
  width: 532px;
  height: 84px;
}
.serch-box-25 {
  top: 57px;
  left: 370px;
  background-color: var(--color-teal);
  width: 206px;
}
.menu-icon5 {
  position: absolute;
  top: 54px;
  left: 179px;
  width: 66px;
  height: 48px;
}
.shoping-chart-icon5 {
  position: absolute;
  top: 52px;
  left: 1233px;
  width: 106.58px;
  height: 78.41px;
  cursor: pointer;
}
.search5 {
  position: absolute;
  top: 75px;
  left: 414px;
}
.logo-1-icon5,
.logo-2-icon5 {
  position: absolute;
  top: 0;
  left: 12.13px;
  width: 101.87px;
  height: 166.85px;
}
.logo-1-icon5 {
  top: 10.49px;
  left: 0;
  width: 99.32px;
  height: 139.14px;
}
.banner-parent3,
.serch-box-1-parent3 {
  position: absolute;
  top: 39px;
  left: 25px;
  width: 1339.58px;
  height: 166.85px;
}
.banner-parent3 {
  top: 0;
  left: 0;
  width: 1440px;
  height: 235px;
  color: var(--color-white);
  font-family: var(--font-noto-sans-sc);
}
.home-page {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2651px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans);
}
