.image-2 {
  position: relative;
  width: 100%;
  height: 347px;
  background-image: url(./public/image-2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
