.footer {
  position: absolute;
  top: 1202px;
  left: 0;
  background-color: var(--color-skyblue);
  width: 1440px;
  height: 629px;
}
.logo-3-icon,
.logo-4-icon {
  position: absolute;
  top: 1414px;
  left: 1276px;
  width: 101.87px;
  height: 166.85px;
}
.logo-4-icon {
  top: 1421px;
  left: 1252px;
  width: 99.32px;
  height: 139.14px;
}
.get-to-know {
  margin: 0;
  text-decoration: underline;
  font-weight: 600;
}
.blank-line {
  margin: 0;
}
.get-to-know-container {
  top: 1298px;
  left: 60px;
}
.contact-infotitiansorg-800-3-container,
.get-to-know-container,
.need-help-your-container {
  position: absolute;
  font-size: var(--font-size-17xl);
  text-align: center;
}
.need-help-your-container {
  top: 1284px;
  left: 429px;
  display: inline-block;
  width: 420px;
  height: 356px;
}
.contact-infotitiansorg-800-3-container {
  top: 1287px;
  left: 892px;
}
.settings-child,
.settings-item {
  position: absolute;
  top: 1666px;
  left: 0;
  width: 1440px;
  height: 11px;
}
.settings-item {
  top: 1677px;
  background-color: var(--color-darkorange);
  height: 154px;
}
.line-icon,
.settings-inner {
  position: absolute;
  top: 1322px;
  left: 420px;
  width: 5px;
  height: 226.02px;
}
.line-icon {
  top: 1341px;
  left: 845px;
}
.settings-child1,
.settings-child2 {
  position: absolute;
  top: 233px;
  left: 0;
  width: 1440px;
  height: 5.29px;
}
.settings-child2 {
  top: 1197px;
}
.your-account1 {
  position: absolute;
  top: 287px;
  left: 62px;
  font-weight: 600;
}
.addressesbox,
.coustomer-service-box,
.profile-box,
.rectangle-div,
.your-account-box,
.your-list-box {
  position: absolute;
  top: 396px;
  left: 101px;
  background-color: var(--color-darkorange);
  width: 484px;
  height: 192px;
}
.addressesbox,
.coustomer-service-box,
.profile-box,
.rectangle-div,
.your-list-box {
  top: 664px;
}
.addressesbox,
.coustomer-service-box,
.profile-box,
.your-list-box {
  top: 952px;
}
.addressesbox,
.coustomer-service-box,
.profile-box {
  left: 773px;
}
.addressesbox,
.profile-box {
  top: 664px;
  left: 781px;
}
.addressesbox {
  top: 396px;
}
.adresses,
.login-security {
  position: absolute;
  top: 422px;
  left: 945px;
  font-weight: 600;
}
.login-security {
  top: 684px;
  left: 195px;
}
.coustomer-service,
.profile,
.your-account2,
.your-list {
  position: absolute;
  top: 976px;
  left: 248px;
  font-weight: 600;
}
.coustomer-service,
.profile,
.your-account2 {
  left: 854px;
}
.profile,
.your-account2 {
  top: 684px;
  left: 958px;
}
.your-account2 {
  top: 422px;
  left: 205px;
}
.edit-remove-or,
.manage-add-or,
.track-return-cancel {
  position: absolute;
  top: 760px;
  left: 810px;
  font-size: var(--font-size-5xl);
  font-weight: 600;
}
.edit-remove-or,
.track-return-cancel {
  top: 492px;
  left: 824px;
}
.track-return-cancel {
  left: 138px;
  display: inline-block;
  width: 403px;
}
.edit-login-name,
.self-service-options,
.view-modify-share {
  position: absolute;
  top: 760px;
  left: 119px;
  font-size: var(--font-size-5xl);
  font-weight: 600;
}
.self-service-options,
.view-modify-share {
  top: 1039px;
  left: 122px;
}
.self-service-options {
  top: 1046px;
  left: 832px;
}
.conditions-of-useprivacy {
  text-decoration: underline;
}
.conditions-of-useprivacy-notic1 {
  margin-bottom: 0;
}
.conditions-of-useprivacy-notic {
  margin: 0;
  padding-left: var(--padding-29xl);
}
.conditions-of-useprivacy-container {
  position: absolute;
  top: 1710px;
  left: 178px;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
  text-align: center;
}
.banner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-skyblue);
  width: 1440px;
  height: 238px;
}
.serch-box-1,
.serch-box-2 {
  position: absolute;
  top: 59px;
  left: 576px;
  background-color: var(--color-white);
  width: 532px;
  height: 84px;
}
.serch-box-2 {
  top: 57px;
  left: 370px;
  background-color: var(--color-teal);
  width: 206px;
}
.menu-icon {
  position: absolute;
  top: 49px;
  left: 179px;
  width: 66px;
  height: 48px;
}
.shoping-chart-icon {
  position: absolute;
  top: 52px;
  left: 1233px;
  width: 106.58px;
  height: 78.41px;
  cursor: pointer;
}
.search {
  position: absolute;
  top: 75px;
  left: 414px;
}
.logo-1-icon,
.logo-2-icon {
  position: absolute;
  top: 0;
  left: 12.13px;
  width: 101.87px;
  height: 166.85px;
}
.logo-1-icon {
  top: 10.49px;
  left: 0;
  width: 99.32px;
  height: 139.14px;
}
.banner-parent,
.serch-box-1-parent {
  position: absolute;
  top: 42px;
  left: 25px;
  width: 1339.58px;
  height: 166.85px;
}
.banner-parent {
  top: -3px;
  left: 0;
  width: 1440px;
  height: 238px;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-noto-sans-sc);
}
.settings {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1831px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans);
}
