.home {
  background-color: var(--color-antiquewhite);
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-noto-sans);
  width: 100%;
  height: 2666px;
  position: relative;
  overflow: hidden;
}