/* =============
    Header
============= */
/* Header styles */
/* Header styles */
group-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-skyblue);
    width: 1440px;
    height: 235px;
  }
  .blank-line {
    margin: 0;
    text-decoration: underline;
  }
  .titians {
    position: absolute;
    top: 74px;
    left: 542px;
  }
  .logo-3-icon,
  .logo-4-icon {
    position: absolute;
    top: 35px;
    left: 1174.13px;
    width: 101.87px;
    height: 166.85px;
  }
  .logo-4-icon {
    top: 45.49px;
    left: 1162px;
    width: 99.32px;
    height: 139.14px;
  }
  .rectangle-parent {
    position: absolute;
    top: 2431px;
    left: 0;
    width: 1440px;
    height: 235px;
    font-size: var(--font-size-17xl);
    font-family: var(--font-inter);
  }