/* =============
    Base
============= */
.home-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home-page .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 2168px;
  position: relative;
}

.home-page .overlap {
  position: absolute;
  width: 1440px;
  height: 950px;
  top: 1570px;
  left: 0;
  background-color: #77bfcf;
}

.home-page .overlap-group {
  position: absolute;
  width: 114px;
  height: 167px;
  top: 177px;
  left: 1237px;
}

.home-page .LOGO {
  position: absolute;
  width: 102px;
  height: 167px;
  top: 0;
  left: 12px;
}

.home-page .overlap-2 {
  position: relative;
  width: 88px;
  height: 163px;
  top: 4px;
  left: 7px;
}

.home-page .overlap-group-2 {
  position: absolute;
  width: 85px;
  height: 163px;
  top: 0;
  left: 1px;
}

.home-page .rectangle {
  position: absolute;
  width: 26px;
  height: 151px;
  top: 12px;
  left: 29px;
  background-color: #00738c;
}

.home-page .rectangle-2 {
  position: absolute;
  width: 12px;
  height: 85px;
  top: -36px;
  left: 36px;
  background-color: #00738c;
  transform: rotate(-89.77deg);
}

.home-page .polygon {
  left: 74px;
  position: absolute;
  width: 14px;
  height: 15px;
  top: 0;
}

.home-page .img {
  left: 0;
  position: absolute;
  width: 14px;
  height: 15px;
  top: 0;
}

.home-page .overlap-wrapper {
  position: absolute;
  width: 99px;
  height: 139px;
  top: 10px;
  left: 0;
}

.home-page .overlap-3 {
  position: relative;
  width: 86px;
  height: 136px;
  top: 3px;
  left: 7px;
}

.home-page .overlap-4 {
  position: absolute;
  width: 83px;
  height: 136px;
  top: 0;
  left: 1px;
}

.home-page .rectangle-3 {
  position: absolute;
  width: 25px;
  height: 126px;
  top: 10px;
  left: 29px;
  background-color: #ff902e;
}

.home-page .rectangle-4 {
  position: absolute;
  width: 10px;
  height: 82px;
  top: -36px;
  left: 36px;
  background-color: #ff902e;
  transform: rotate(-89.73deg);
}

.home-page .polygon-2 {
  position: absolute;
  width: 13px;
  height: 12px;
  top: 0;
  left: 72px;
}

.home-page .polygon-3 {
  position: absolute;
  width: 13px;
  height: 12px;
  top: 0;
  left: 0;
}

.home-page .get-to-know-us {
  position: absolute;
  top: 45px;
  left: 92px;
  font-family: "Noto Sans-SemiBold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
